<%= turbo_frame_tag quote do %> 
<div class="quote">
  <%= link_to quote.name, quote_path(quote) %>
  <div class="quote__actions">
    <%= button_to "Del",
                  quote_path(quote),
                  method: :delete,
                  class: "btnn btnn--light" %>
    <%= link_to "Edit",
                edit_quote_path(quote),
                class: "btnn btnn--light" %>
  </div>
</div>
<% end %>