<main class="container">
<div class="mb-3">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
    </div>

  <div class="header mb-3 mt-3">
    <h2>Edit quote</h2>
  </div>
  <%= turbo_frame_tag @quote do %>
  <%= render "form", quote: @quote %>
  <% end %>
</main>
