<div class="d-flex justify-content-between align-items-center" style="background-color: #f8f8f8; padding: 5px 20px 5px 20px; border-radius: 5px;">
<h2><%= "Quotes" %> <span class="badge bg-info"><%= link_to image_tag('icon.png', size: 50), root_path, class: 'icon' %></span> </h2>

</div>
<%= link_to "New Quote", new_quote_path, class: "btn btn-primary mt-3" %>

<%= render @quotes %>

