<main class="container">
<div class="mb-3">
<%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
</div>

<div class="header mt-3 mb-3">
    <h2>New Quote</h2>
</div>
 <%= render "form", quote: @quote %>
</main>