<div class="center jumbotron mt-5 mb-4">
  <div class="container">
    <div class="center">
     <h1 class="display-6">
   <span class="badge bg-info" ><%= link_to image_tag('icon.png', size: 50), root_path, class: 'icon' %>Quotable!</span></h1>
   <p class="lead mt-3">A blazing fast quote editor built with Ruby on Rails, Hotwire, Turbo, and Stimulus</p>
  
     </div>
   </div>
</div>
<section id="home" class="intro-section">
  <div class="container">
    <div class="row text-dark">
     <% if user_signed_in? %>
    <%= link_to "View quotes", quotes_path, class: "btn btn-dark btn-lg" %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-dark btn-lg" %>
  <% end %>
    </div>
  </div>
 </section>
